.container {
    position: relative;
}

.mirror-div {
    position: absolute;
    pointer-events: none;
    color: var(--color-text-primary);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
    padding: var(--spacing-s) var(--spacing-m);
}

.mirror-div--gaps {
    color: transparent
}

.textarea {
    overflow: hidden;
    padding: 0px;
    border: none;
    width: 100%;
    min-height: fit-content;
    display: flex;
    resize: none;
    color: transparent;
    caret-color: var(--color-text-primary);
    overflow-wrap: break-word;
}

textarea.textarea:focus {
    filter: none;
}

.highlighted-text {
    gap: 0px;
    position: relative;
    border-radius: 5px;
    background-color: color-mix(in srgb, var(--color-brand-accent) 50%, rgba(255, 255, 255, 0) 50%);
    padding: 0px;
    margin: 0px;
}

.highlighted-text button {
    pointer-events: all;
    position: absolute;
    text-wrap: nowrap;
    background-color: var(--color-info-dark);
    left: calc(50% - var(--width) / 2);
    font-size: var(--font-size-s);
    padding: var(--spacing-xs);
    line-height: 1;
    border-radius: var(--radius-m);
    bottom: calc(100% + 0.5rem + var(--spacing-xs));
    z-index: 2;
    border: 3px solid var(--color-info);
    color: white;
}

.highlighted-text button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.highlighted-text button::before {
    display: block;
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    bottom: -0.4rem;
    left: calc(50% - 0.35rem);
    rotate: 45deg;
    background-color: var(--color-info-dark);
    z-index: -1;
    border-right: 3px solid var(--color-info);
    border-bottom: 3px solid var(--color-info)
}

.gap {
    transition:
        transform var(--duration-normal) var(--ease-spring),
        background-color var(--duration-fast) linear;

    --opaque-bg-color: color-mix(in srgb, var(--color-brand-accent) 60%, rgba(255, 255, 255, 0) 40%);
    border-radius: 5px;
    background-color: var(--opaque-bg-color);
    border-top: 1px solid var(--color-brand-accent);
    border-bottom: 2px solid var(--color-brand-accent);
    z-index: 0;
    color: var(--color-text-primary);
    position: relative;
    pointer-events: auto;
}

.gap__size-handle:nth-of-type(1) {
    left: calc(-1 * var(--width) + 4px);
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    padding-right: 4px;
    top: calc(1lh * 0.05);

    transform-origin: right;
}

.gap__size-handle:nth-of-type(2) {
    right: calc(-1 * var(--width) + 4px);
    border-top-right-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    padding-left: 4px;
    bottom: calc(1lh * 0.05);

    transform-origin: left;
}

.gap__size-handle {
    transition:
        transform var(--duration-normal) var(--ease-spring),
        background-color var(--duration-fast) linear;

    --width: 16px;
    width: var(--width);
    position: absolute;
    display: flex;
    align-items: center;
    height: calc(1lh * 0.8);
    background-color: var(--opaque-bg-color);
    z-index: -1;
    cursor: ew-resize;

    transform: scaleX(0);
}

.gap__size-handle:nth-of-type(2)>* {
    rotate: 180deg;
}

.gap:hover,
.gap:hover .gap__size-handle {
    background-color: var(--color-brand-accent);
}

.gap:hover .gap__size-handle {
    transform: scaleX(1);
}

.gap--resizing,
.gap--resizing:hover {
    background-color: var(--opaque-bg-color);
}

.gap--resizing .gap__size-handle,
.gap--resizing:hover .gap__size-handle {
    pointer-events: none;
    transform: scaleX(0);
}