.drag-item {
    transition: transform var(--duration-fast);
}

.drag-item--overlay {
    opacity: 50%;
}

.drag-item--is-dragging {
    transform: scale(1.02);
    box-shadow: var(--box-shadow-is-dragging);
    opacity: var(--opacity-is-dragging);
}

.drag-overlay {
    position: absolute;
}

.drag-target {
    transform: scale(1.02);
    box-shadow: var(--box-shadow-is-dragging);
}