.stack {
    display: flex;
    padding-block: var(--stack-padding-block);
    padding-inline: var(--stack-padding-inline);
    gap: var(--stack-gap-size);
    --stack-padding-size: 0px;
    --stack-gap-size: 0px;
    --stack-padding-block: var(--stack-padding-size);
    --stack-padding-inline: var(--stack-padding-size);
    --stack-half-gap: calc(var(--stack-gap-size) / 2);
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.alignment-start {
    justify-content: flex-start;
}

.alignment-center {
    justify-content: center;
}

.alignment-end {
    justify-content: flex-end;
}

.alignment-space-between {
    justify-content: space-between;
}

.secondary-axis-alignment-start {
    align-items: flex-start;
}

.secondary-axis-alignment-center {
    align-items: center;
}

.secondary-axis-alignment-end {
    align-items: flex-end;
}

.secondary-axis-alignment-stretch {
    align-items: stretch;
}

.with-border>* {
    position: relative;
}

.with-border>*::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background-color: var(--box-shadow-border-color);
}

.direction-column.with-border>*::after {
    right: var(--stack-border-inline-end, 0px);
    bottom: calc(var(--stack-half-gap) * -1);
    left: var(--stack-border-inline-start, 0px);
    height: 1px;
}

.direction-row.with-border>*::after {
    top: var(--stack-border-block-start, 0px);
    bottom: var(--stack-border-block-end, 0px);
    left: 0px;
    width: 1px;
}

.direction-column.with-border>*:last-child::after {
    display: none;
}

.direction-row.with-border>*:first-child::after {
    display: none;
}

.border-whole-size {
    --stack-border-inline-start: 0px;
    --stack-border-inline-end: 0px;
    --stack-border-block-start: 0px;
    --stack-border-block-end: 0px;
}

.border-consider-padding {
    --stack-border-inline-start: var(--stack-padding-inline);
    --stack-border-inline-end: var(--stack-padding-inline);
    --stack-border-block-start: var(--stack-padding-block);
    --stack-border-block-end: var(--stack-padding-block);
}

.padding-none {
    --stack-padding-size: 0px;
}

.padding-xxs {
    --stack-padding-size: var(--spacing-xxs);
}

.padding-xs {
    --stack-padding-size: var(--spacing-xs);
}

.padding-s {
    --stack-padding-size: var(--spacing-s);
}

.padding-m {
    --stack-padding-size: var(--spacing-m);
}

.padding-l {
    --stack-padding-size: var(--spacing-l);
}

.padding-xl {
    --stack-padding-size: var(--spacing-xl);
}

.padding-block-none {
    --stack-padding-block: 0px;
}

.padding-block-xxs {
    --stack-padding-block: var(--spacing-xxs);
}

.padding-block-xs {
    --stack-padding-block: var(--spacing-xs);
}

.padding-block-s {
    --stack-padding-block: var(--spacing-s);
}

.padding-block-m {
    --stack-padding-block: var(--spacing-m);
}

.padding-block-l {
    --stack-padding-block: var(--spacing-l);
}

.padding-block-xl {
    --stack-padding-block: var(--spacing-xl);
}

.padding-inline-none {
    --stack-padding-inline: 0px;
}

.padding-inline-xxs {
    --stack-padding-inline: var(--spacing-xxs);
}

.padding-inline-xs {
    --stack-padding-inline: var(--spacing-xs);
}

.padding-inline-s {
    --stack-padding-inline: var(--spacing-s);
}

.padding-inline-m {
    --stack-padding-inline: var(--spacing-m);
}

.padding-inline-l {
    --stack-padding-inline: var(--spacing-l);
}

.padding-inline-xl {
    --stack-padding-inline: var(--spacing-xl);
}

.gap-none {
    --stack-gap-size: 0px;
}

.gap-xxs {
    --stack-gap-size: var(--spacing-xxs);
}

.gap-xs {
    --stack-gap-size: var(--spacing-xs);
}

.gap-s {
    --stack-gap-size: var(--spacing-s);
}

.gap-m {
    --stack-gap-size: var(--spacing-m);
}

.gap-l {
    --stack-gap-size: var(--spacing-l);
}

.gap-xl {
    --stack-gap-size: var(--spacing-xl);
}
