.stack {
    align-self: flex-start;
    padding: var(--spacing-s) 0px;
}

.stack>* {
    padding: var(--spacing-xs) 0px;
}

.stack>*:not(:last-child) {
    box-shadow: var(--box-shadow-down);
}

.link-group__name {
    font-family: var(--font-headings);
    font-weight: 600;
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    color: var(--color-text-secondary);
    padding: 0px var(--spacing-m);
}

.link {
    transition: background-color var(--duration-normal) ease;
}

.link:hover {
    background-color: var(--color-bg-card-2);
}