.tooltip {
    position: relative;
    width: fit-content;
}

.tooltip__content {
    z-index: var(--z-tooltip);
    max-inline-size: calc(var(--spacing-xl) * 5);
    padding: var(--spacing-xs);
    border-radius: var(--radius-m);
    background-color: var(--color-bg-card-1);
    box-shadow: var(--box-shadow);
    color: var(--color-text-primary);
    font-size: var(--font-size-s);
    line-height: var(--line-height-normal);
    overflow-wrap: break-word;
    pointer-events: auto;
}

.tooltip__arrow {
    z-index: -1;
    position: absolute;
    width: var(--spacing-s);
    height: var(--spacing-s);
    background-color: var(--color-bg-card-1);
    transform: rotate(45deg);
    border-bottom: 1px solid var(--box-shadow-border-color);
    border-right: 1px solid var(--box-shadow-border-color);
}

.tooltip--top .tooltip__arrow {
    bottom: calc(var(--spacing-xs) * -1);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip--right .tooltip__arrow {
    top: 50%;
    left: calc(var(--spacing-xs) * -1);
    transform: translateY(-50%) rotate(45deg);
}

.tooltip--bottom .tooltip__arrow {
    top: calc(var(--spacing-xs) * -1);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip--left .tooltip__arrow {
    top: 50%;
    right: calc(var(--spacing-xs) * -1);
    transform: translateY(-50%) rotate(45deg);
}
