.bouncing-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bouncing-item--bouncing {
    animation: bouncing-item-bounce var(--duration-xl) var(--ease-spring) infinite;
}

@keyframes bouncing-item-bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(calc(var(--spacing-xs)/3 * -1));
    }
}
