.stack {
    /* horisontal padding is specified in .link and .link-group__name for frame to stretch */
    padding: var(--spacing-m) 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-card-1);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-m);
}

.link-group {
    padding: var(--spacing-xs) 0px;
}

.link:only-of-type {
    padding: var(--spacing-xs) var(--spacing-m);
}

.link-group__stack {
    display: flex;
    flex-direction: column;
}

.link-group__name {
    font-family: var(--font-headings);
    font-weight: 600;
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    color: var(--color-text-secondary);
    padding: 0px var(--spacing-m);
}

.link {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: var(--font-size-m);
    padding: 0px var(--spacing-m);
}

.link-group:not(:last-child),
.link:only-of-type {
    border-bottom: var(--border);
    width: 100%;
}