.card {
    background-color: var(--card-background);
    color: var(--color-text-primary);
    border-radius: var(--card-radius);
    transition: background-color var(--duration-l) var(--ease-default);
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.with-border {
    box-shadow: var(--box-shadow);
}

.width-full {
    width: 100%;
}

.width-fit-content {
    width: fit-content;
}

.spacing-none {
    padding: 0px;
}

.spacing-xxs {
    padding: var(--spacing-xxs);
}

.spacing-xs {
    padding: var(--spacing-xs);
}

.spacing-s {
    padding: var(--spacing-s);
}

.spacing-m {
    padding: var(--spacing-m);
}

.spacing-l {
    padding: var(--spacing-l);
}

.spacing-xl {
    padding: var(--spacing-xl);
}

.radius-s {
    --card-radius: var(--radius-s);
}

.radius-m {
    --card-radius: var(--radius-m);
}

.radius-l {
    --card-radius: var(--radius-l);
}

.radius-xl {
    --card-radius: var(--radius-xl);
}

.tone-1 {
    --card-background: var(--color-bg-card-1);
}

.tone-2 {
    --card-background: var(--color-bg-card-2);
}

.tone-3 {
    --card-background: var(--color-bg-card-3);
}

.tone-4 {
    --card-background: var(--color-bg-card-4);
}
